export(.pn)
export(.sos)
export(VIF)
export(allSame)
export(blandAltman)
export(buildInlineDoc)
export(buildSiteDoc)
export(cartesian2polar)
export(cartesian2spherical)
export(columnIndexOf)
export(compensateAlpha)
export(compensatePValue)
export(computeDistIdx)
export(corCritVal)
export(countFactorLevels)
export(countIntersect) 
export(countNa)
export(dagostinoTest)
export(dropLevels)
export(expit)
export(flip)
export(histv)
export(iclass)
export(indexOf)
export(lmCalib)
export(lmInt)
export(lmIntXY)
export(lmSignif)
export(lnormPar)
export(logit)
export(movieSpin3d) 
export(normality2color)
export(normality2flag)
export(normalizeVector)
export(percentTrue)
export(perfInd)
export(plot.lmInt)
export(plot.lmIntXY)
export(plot3dProj)
export(plotCor)
export(plotMatrix)
export(plotShadow)
export(poissonTest)
export(polar2cartesian)
export(printWithName)
export(pvalStars)
export(refineFactors)
export(reloadByName)
export(repmat)
export(rglSetMouseCbTrackball)
export(rseq)
export(scaleToUnit)
export(showObjectsSize)
export(spca)
export(spherical2cartesian)
export(strTrim)
export(to.matrix)
export(txPca)
export(txSpca)
export(vectorLength)
export(vectorprod)

importFrom(coin, spearman_test, pvalue, statistic)
importFrom(scales, alpha)
import(rgl)
import(stringr)
